body {
  background-color: #ecf0f1;
}

.js-clock {
  font-size: 6em;
  text-align: center;
}

.btn {
  cursor: pointer;
}

body {
  color: #34495e;
}

.clicked {
  color: #7f8c8d;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
  font-size: 3em;
  text-align: center;
}

.toDoList {
  font-size: 3em;
  text-align: center;
}
